*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/src/assests/img/ee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background-color: transparent;
    color: white;
    padding: 1em;
    font-size: 1.75em;
    font-weight: 600;
}
header ul{
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
header li{
    padding: .6rem 1rem;
    cursor: pointer;
}
header li:hover{
    color: #ff9000;
    border-radius: 3px;
    border-bottom: 4px solid #aaa;
    background-color: #fff;
}
ul{
    list-style: none;
}


.active-nav{
    border-bottom: 2px solid #ff9000;
    background-color: rgba(111, 111, 111, 0.1);
}